/* colors
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */

:root {
	--color-main: rgb(142, 7, 184);
	--color-bg: rgb(63, 20, 20);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', san-serif;
	font-weight: 400;
	font-size: 62.5%;
	line-height: 1.7;
	color: #777;
	padding: 30px;
	background-color: var(--color-bg);
}

.header {
	height: 95vh;
	filter: drop-shadow(2);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.second-bg {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: top;
	position: absolute;
	background-image: linear-gradient(150deg, rgb(230, 44, 44, 0.7) 0%, rgb(182, 210, 68, 0.7) 100%),
		url(../img/Istambul-hero.jpg);
	/* Photo by Ibrahim Uzun on Unsplash */
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	z-index: 1;
	opacity: 1;
}

.first-bg {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: top;
	position: absolute;
	background-image: linear-gradient(150deg, rgb(230, 44, 44, 0.7) 0%, rgb(182, 210, 68, 0.7) 100%),
		url(../img/aerial-view-galata-tower-istanbul-city-turkey.jpg);
	/* Istanbul city photo created by tawatchai07 - www.freepik.com */
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	z-index: 5;
	opacity: 1;
}

.bg-opacity {
	opacity: 0;
}

.title-page {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 10;
}

.title-page h1 {
	position: absolute;
	top: -3rem;
	right: 0rem;
	font-size: 4rem;
	font-weight: 600;
	z-index: 1;
	color: var(--color-main);
	opacity: 0;
	animation: opacityAnimH1 3s linear forwards 5.2s;
}

@keyframes opacityAnimH1 {
	to {
		right: 3.5rem;
		opacity: 1;
	}
}

.title-page::before {
	position: absolute;
	content: '';
	left: 0.2rem;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	background-color: var(--color-main);
	top: -50rem;
	opacity: 0;
	animation: dotAnim 2s ease-out forwards 6s, pingpong 2s ease-in-out infinite 7.5s;
}

@keyframes dotAnim {
	from {
		opacity: 1;
		top: -50rem;
	}

	to {
		opacity: 1;
		top: 0rem;
	}
}

@keyframes pingpong {
	0% {
		transform: translateY(0rem);
	}
	50% {
		transform: translateY(-1rem);
	}
	100% {
		transform: translateY(0rem);
	}
}

.title {
	width: 900px;
	height: 200px;
	fill: none;
}

.title path {
	stroke: white;
	stroke-width: 3;
	mask: url(#path-1-outside-1_6_2);
}

.title path:nth-child(1) {
	stroke-dasharray: 220;
	stroke-dashoffset: 220;
	animation: letterAnim 2s ease forwards, fill 0.5s ease forwards 2.3s;
}

.title path:nth-child(2) {
	stroke-dasharray: 401;
	stroke-dashoffset: 401;
	animation: letterAnim 2s ease forwards 0.3s, fill 0.5s ease forwards 2.7s;
}

.title path:nth-child(3) {
	stroke-dasharray: 331;
	stroke-dashoffset: 331;
	animation: letterAnim 2s ease forwards 0.6s, fill 0.5s ease forwards 3.1s;
}
.title path:nth-child(4) {
	stroke-dasharray: 454;
	stroke-dashoffset: 454;
	animation: letterAnim 2s ease forwards 0.9s, fill 0.5s ease forwards 3.5s;
}
.title path:nth-child(5) {
	stroke-dasharray: 533;
	stroke-dashoffset: 533;
	animation: letterAnim 2s ease forwards 1.2s, fill 0.5s ease forwards 3.9s;
}
.title path:nth-child(6) {
	stroke-dasharray: 531;
	stroke-dashoffset: 531;
	animation: letterAnim 2s ease forwards 1.5s, fill 0.5s ease forwards 4.3s;
}
.title path:nth-child(7) {
	stroke-dasharray: 449;
	stroke-dashoffset: 449;
	animation: letterAnim 2s ease forwards 1.8s, fill 0.5s ease forwards 4.7s;
}

.title path:nth-child(8) {
	stroke-dasharray: 293;
	stroke-dashoffset: 293;
	animation: letterAnim 2s ease forwards 2.1s, fill 0.5s ease forwards 5.1s;
}

.logo-box {
	position: absolute;
	top: 2vh;
	left: 2vw;
	filter: brightness(10);
	z-index: 10;
}

.logo-box img {
	height: 15vh;
	transition: height 0.6s;
}

.logo-box img:hover {
	height: 20vh;
}

@keyframes letterAnim {
	to {
		stroke-dashoffset: 0;
		/* stroke-dasharray: 20; */
	}

	to {
		stroke-dashoffset: 0;
		/* stroke-dasharray: 0; */
	}
}

@keyframes fill {
	to {
		fill: rgb(255, 255, 255, 0.2);
	}
}

.btn:link,
.btn:visited {
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.8rem 1.8rem;
	border-radius: 3rem;
	transition: all 0.3s;
	position: relative;
}

.btn {
	margin: 5rem 0 0 0;
	display: grid;
	place-items: center;
	font-size: 1.2rem;
	word-spacing: 0.3rem;
	letter-spacing: 0.1rem;
	transform: translateY(20rem);
	animation: animButton 2s ease-in-out forwards 6s;
}

@keyframes animButton {
	to {
		transform: translateY(0rem);
		opacity: 1;
	}
}

.btn::after {
	display: inline-block;
	content: '';
	height: 100%;
	width: 100%;
	/* element after i before ustawione na 100% będą miały wymiary btn bo są jego dzieckiem */
	border-radius: 3rem;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: rgb(255, 255, 255, 0.3);
	transition: all 0.4s;
}

.btn:active {
	transform: translateY(-0.1rem);
	box-shadow: 0 0.2rem 0.5rem rgba(141, 4, 146, 0.3);
}

.btn-white {
	color: #fff;
	backdrop-filter: blur(2px);
	opacity: 0;
	border: 0.15rem outset var(--color-main);
}

.btn:hover {
	transform: translateY(-0.2rem);
	box-shadow: 0 0.6rem 1.2rem rgba(141, 4, 146, 0.3);
	color: var(--color-main);
	background-color: rgb(255, 255, 255, 0.6);
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.7);
	opacity: 0;
}
