@mixin positionCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin headerTitlePath($lineLenght, $delayAnimTime, $delayFillTime) {
	stroke-dasharray: $lineLenght;
	stroke-dashoffset: $lineLenght;
	animation: letterAnim 2s ease forwards $delayAnimTime, fill 0.5s ease forwards $delayFillTime;
}

// GRID
@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}
