$color-main: rgb(142, 7, 184);
$color-bg: rgb(63, 20, 20);
$color-white: rgb(255, 255, 255);
$color-grad1: rgb(230, 44, 44);
$color-grad2: rgb(182, 210, 68);
$font-main: 'Lato', san-serif;
$gradient-main: linear-gradient(150deg, rgba($color-grad1, 0.7) 0%, rgba($color-grad2, 0.7) 100%);

@mixin positionCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin headerTitlePath($lineLenght, $delayAnimTime, $delayFillTime) {
	stroke-dasharray: $lineLenght;
	stroke-dashoffset: $lineLenght;
	animation: letterAnim 2s ease forwards $delayAnimTime, fill 0.5s ease forwards $delayFillTime;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $font-main;
	font-weight: 400;
	line-height: 1.7;
	padding: 3rem;
	background-color: $color-bg;
	box-sizing: border-box;
}

.header {
	height: 95vh;
	filter: drop-shadow(2);
	position: relative;
	@include positionCenter;
}

.header__bg-2,
.header__bg-1 {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: top;
	position: absolute;
	background-image: $gradient-main, url(../img/Istambul-hero.jpg);
	/* Photo by Ibrahim Uzun on Unsplash */
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	z-index: 1;
	opacity: 1;
}

.header__bg-1 {
	background-image: $gradient-main, url(../img/aerial-view-galata-tower-istanbul-city-turkey.jpg);
	/* Istanbul city photo created by tawatchai07 - www.freepik.com */
	z-index: 5;
}

.header__bg-opacity {
	opacity: 0;
}

.header__title-page {
	@include positionCenter;
	position: relative;
	flex-direction: column;
	z-index: 10;
}

.heading-primary {
	position: absolute;
	top: -3rem;
	right: 0rem;
	font-size: 4.7rem;
	font-weight: 700;
	z-index: 4;
	color: $color-main;
	opacity: 0;
	animation: opacityAnimH1 3s linear forwards 5.2s;
}

@keyframes opacityAnimH1 {
	to {
		right: 3.5rem;
		opacity: 1;
	}
}

.header__title-page::before {
	position: absolute;
	content: '';
	left: 0.3rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background-color: $color-main;
	top: -50rem;
	opacity: 0;
	animation: dotAnim 2s ease-out forwards 6s, dotpingpong 2s ease-in-out infinite 7.5s;
}

@keyframes dotAnim {
	from {
		opacity: 1;
		top: -50rem;
	}

	to {
		opacity: 1;
		top: 0rem;
	}
}

@keyframes dotpingpong {
	0% {
		transform: translateY(0rem);
	}
	50% {
		transform: translateY(-2rem);
	}
	100% {
		transform: translateY(0rem);
	}
}

.header__title {
	width: 90rem;
	height: 20rem;
	fill: none;
}

.header__title path {
	stroke: $color-white;
	stroke-width: 3;
	mask: url(#path-1-outside-1_6_2);

	&:nth-child(1) {
		@include headerTitlePath(220, 0s, 2.3s);
	}
	&:nth-child(2) {
		@include headerTitlePath(401, 0.3s, 2.7s);
	}

	&:nth-child(3) {
		@include headerTitlePath(331, 0.6s, 3.1s);
	}

	&:nth-child(4) {
		@include headerTitlePath(454, 0.9s, 3.5s);
	}

	&:nth-child(5) {
		@include headerTitlePath(533, 1.2s, 3.9s);
	}

	&:nth-child(6) {
		@include headerTitlePath(531, 1.5s, 4.3s);
	}

	&:nth-child(7) {
		@include headerTitlePath(449, 1.8s, 4.7s);
	}

	&:nth-child(8) {
		@include headerTitlePath(293, 2.1s, 5.1s);
	}
}

.header__logo-box {
	position: absolute;
	top: 2vh;
	left: 2vw;
	filter: brightness(10);
	z-index: 10;
}

.header__logo-box .header__logo {
	height: 15vh;
	transition: height 0.6s;
}

.header__logo-box .header__logo:hover {
	height: 20vh;
}

@keyframes letterAnim {
	to {
		stroke-dashoffset: 0;
		/* stroke-dasharray: 20; */
	}

	to {
		stroke-dashoffset: 0;
		/* stroke-dasharray: 0; */
	}
}

@keyframes fill {
	to {
		fill: rgba($color-white, 0.2);
	}
}

.btn {
	margin: 5rem 0 0 0;
	font-size: 2rem;
	word-spacing: 0.3rem;
	letter-spacing: 0.1rem;
	transform: translateY(20rem);
}

.btn:hover {
	color: $color-main;
	background-color: rgba($color-white, 0.6);
	letter-spacing: 0.2rem;
	box-shadow: 0 0.6rem 1.2rem rgba($color-main, 0.3);
}

.btn:link,
.btn:visited {
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem 2.5rem;
	border-radius: 3rem;
	transition: all 0.3s;
	position: relative;
}

.btn:active {
	box-shadow: 0 0.2rem 0.3rem rgba(141, 4, 146, 0.3);
	background-color: rgba($color-main, 0.4);
	color: $color-white;
}

.btn--white {
	color: #fff;
	backdrop-filter: blur(2px);
	opacity: 0;
	border: 0.15rem outset $color-main;
}

.btn--animated {
	animation: animButton 2s ease-in-out forwards 6s;
}

@keyframes animButton {
	to {
		transform: translateY(0rem);
		opacity: 1;
	}
}

.btn::after {
	display: inline-block;
	content: '';
	height: 100%;
	width: 100%;
	/* element after i before ustawione na 100% będą miały wymiary btn bo są jego dzieckiem */
	border-radius: 3rem;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: rgba($color-white, 0.3);
	transition: all 0.4s;
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.7);
	opacity: 0;
}
