body {
	font-family: 'Lato', san-serif;
	font-weight: 400;
	line-height: 1.7;
}

.heading-primary {
	position: absolute;
	top: -3rem;
	right: 0rem;
	font-size: 4.7rem;
	font-weight: 700;
	z-index: 4;
	color: $color-main;
	opacity: 0;
	animation: opacityAnimH1 3s linear forwards 5.2s;

	@include respond(tab-port) {
		font-size: 3.8rem;
		}

	@include respond(phone) {
		font-size: 3rem;
		top: -2.4rem;
	}
}

.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 900;
	display: inline-block;
	letter-spacing: 0.4rem;
	background-image: linear-gradient(to right, $color-main-light, $color-main);
	mix-blend-mode: multiply;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	transition: all 0.2s;

	@include respond(tab-port) {
		font-size: 3rem;
	}

	@include respond(phone) {
		font-size: 2.5rem;
	}
	

	&:hover {
		// transform: skewY(2deg) skewX(15deg) scale(1.1);
		transform: scale(1.1);
		background-image: linear-gradient(to right, $color-main, $color-main-light);
		letter-spacing: 0.6rem;
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
	}
}

.heading-tertiary {
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
	word-spacing: 0.2rem;
	letter-spacing: 0.1rem;
	color: $color-main;
}

.paragraph {
	font-size: $default-font-size;
	color: $color-grey-dark-3;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
