.util-center-text {
	text-align: center;
}

.util-margin-top-medium {
	margin-top: 4rem;
}

.util-margin-top-big {
	margin-top: 8rem;
}

.util-margin-bottom-small {
	margin-bottom: 2rem;
}

.util-margin-bottom-medium {
	margin-bottom: 4rem;
}

.util-margin-bottom-big {
	margin-bottom: 8rem;
}
