.section-about {
	background-color: $color-grey-light-1;
	padding: 25rem 0;
	margin-top: -20vh;
}

.section-features {
	margin-top: -10.5vh;
	padding: 20rem 0;
	background-image: $gradient-main, url(../img/ista-5.jpg);
	background-size: cover;
	background-position: center;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	transform: skewY(-6deg);

	& > * {
		//bezpośrednie dzieci czyli w ym przypadku klasę .row
		transform: skewY(6deg);
	}
}

.section-tours {
	background-color: $color-grey-light-1;
	padding: 25rem 0 15rem 0;
	margin-top: -13.5vh;
}

.section-stories {
	background-color:$color-white;
	position: relative;
	padding: 15rem 0;
}
